{% extends 'layout.html' %}
{% block content %}

    <h1>About Page</h1>
    <div class="col-md-13">
        <div class="content-section">
            <h3>What Is The OCC About?</h3>
    <p class='text-muted'> Hello, thanks for visiting this site! In these uncertain times <br/> 
        many people are confused, worried, and even scared with all the sudden changes <br/>
        occurring in our lives as the coronavirus disease has been spreading. <br/><br/>

        With the world in lockdown, many people (like you!) have gained a lot of free time, <br/>
        which (and I can personally verify this) goes to waste because we don't know how to <br/>
        spend it. In addition to this, new discoveries about Covid-19 are made everyday, and <br/>
        it can be hard to keep up with the latest scientific research, what it means, and how <br/>
        this may affect us. <br/><br/>

        These two principles are what will guide this site and its content. You can access a <br/>
        page where I (as a student of biology) compile the latest scientific updates on Covid-19, <br/>
        explain their basis, and how this might affect you (in terms of your lifestyle).<br/>
        Additionally, I'll be creating and updating pages on different activities that you can <br/>
        keep yourself busy with as we all stay at home; almost like mini-blogs! It doesn't end there <br/>
        though, as I have a lot of further plans for this website! Again, thanks for visiting, and I <br/>
        hope you enjoy yourself!


    </p>
  </div>
  </div>


{% endblock content %}
